.root {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gap);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}
