.root {
  position: relative;
  grid-column: 1 / -1;
  position: relative;
  left: calc(var(--grid-margin) * -1);
  width: calc(100% + var(--grid-margin) * 2);
  margin-bottom: calc(var(--space-24) * -1);

  @media (--md) {
    grid-column: 4 / -1;
    left: 0;
    width: calc(100% + var(--grid-margin));
  }

  @media (--lg) {
    grid-column: 6 / -1;
  }

  @media (--xl) {
    grid-column: 5 / -1;
  }

  @media (--xxxl) {
    grid-column: 4 / -1;
  }

  @media (--xxxxl) {
    grid-column: 3 / -1;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
