.root {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 88%;
  pointer-events: none;

  @media (--md) {
    height: 80%;
  }

  @media (--xl) {
    height: 75%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  align-items: center;
  justify-content: center;
}

.ticker {
  position: relative;
  display: grid;
  place-items: center;
  width: 65%;
  aspect-ratio: 1 / 1;
  transition: width 0.3s ease;

  @media (--lg) {
    width: 45%;
  }

  @media (--xl) {
    width: 40%;
  }

  @media (--xxl) {
    width: 35%;
  }

  @media (--xxxl) {
    width: 28%;
  }

  @media (--xxxxl) {
    width: 25%;
  }
}

.tickerItem {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  width: 100%;
  will-change: transform, opacity;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landscape {
  width: 65%;
  aspect-ratio: 3 / 2;
}

.portrait {
  width: 50%;
  aspect-ratio: 5 / 6;
}

.square {
  width: 52%;
  aspect-ratio: 1 / 1;
}

.bracketIcons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    width: auto;
    height: 21vh;
    transform: translateX(-100%);

    @media (--md) {
      height: 25vh;
    }

    &.reverse {
      transform: translateX(100%) rotate(180deg);
    }
  }
}
