.root {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 101;
  width: 100%;
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gap);
  align-items: start;
  padding-block: var(--grid-margin) var(--space-12);
  padding-inline: var(--grid-margin);
  transform: translateY(-100%);
  transition: transform 400ms cubic-bezier(0, 0, 0.42, 1);
  pointer-events: none;

  &.isOpen {
    transform: translateY(0);
    pointer-events: auto;

    & + .overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.title {
  grid-column: 1 / -3;
  position: relative;
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: var(--leading-normal);
  margin-bottom: var(--space-12);

  @media (--lg) {
    text-wrap: balance;
    grid-column: 1 / 8;
    margin-bottom: var(--space-24);
  }

  @media (--xl) {
    grid-column: 1 / 5;
  }

  @media (--xxxxl) {
    grid-column: 1 / 4;
  }
}

.form {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  @media (--lg) {
    grid-column: 8 / -1;
    grid-row: 1;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.honeypot {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.fieldInvalid {
  & .input,
  & .textarea {
    border-block-end-color: color-mix(
      in srgb,
      var(--color-red) 70%,
      transparent
    );
  }
}

.fieldContent {
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  order: -1;
}

.fieldError {
  font-size: var(--text-sm);
  line-height: var(--leading-tight);
  opacity: 0.75;
  color: var(--color-red);
}

.label {
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: var(--leading-tight);
  text-transform: uppercase;
}

.input:disabled,
.textarea:disabled,
.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.input,
.textarea {
  width: 100%;
  padding-block: 0 var(--space-2);
  border: none;
  border-block-end: 1px solid var(--color-black);
  background-color: transparent;
  color: var(--color-text);
  font-size: var(--text-md);
  line-height: var(--leading-normal);
  border-radius: 0;
  transition: opacity 300ms ease;

  @media (--sm) {
    padding-block: var(--space-2);
  }

  &::placeholder {
    color: color-mix(in srgb, var(--color-text) 40%, transparent);
  }

  &:focus-visible {
    outline: unset;
  }
}

.textarea {
  min-block-size: 3.4rem;
  resize: vertical;

  @media (--sm) {
    min-block-size: 8rem;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
  margin-block-start: var(--space-4);
}

.button {
  all: unset;
  align-self: flex-start;
  padding: 0.5rem 2rem;
  border: 1px solid var(--color-black);
  border-radius: 0.25rem;
  font-size: var(--text-base);
  font-weight: 600;
  line-height: var(--leading-tight);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 300ms ease;

  @mixin hover {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.error,
.success {
  width: 100%;
  font-size: var(--text-sm);
  line-height: var(--leading-tight);
}

.error {
  opacity: 0.85;
}

.successMessage {
  width: 100%;
  font-size: var(--text-md);
  line-height: var(--leading-normal);
  opacity: 0.85;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: opacity 500ms ease;
  pointer-events: none;
  opacity: 0;
}
