:root {
  color-scheme: light;

  --color-white: #fff;
  --color-grey: #f5f5f5;
  --color-black: #111;
  --color-bg: var(--color-white);
  --color-text: var(--color-black);

  --color-red: #ff0000;
}
