/**
 * Layout tokens.
 */
:root {
  --grid-columns: 6;
  --grid-gap: 1rem;
  --grid-margin: 1rem;

  @media (--lg) {
    --grid-columns: 12;
    --grid-margin: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}
